*~
/.*_history
/.bzr.log
/.cache
/.cargo/bin
/.cargo/credentials
/.cargo/git
/.cargo/.package-cache
/.cargo/registry
/.compose-cache/
/.config/atril/
/.config/caja/accels
/.config/caja/desktop-metadata
/.config/chromium/
/.config/docker/key.json
/.config/Electron/
/.config/gtk-2.0/gtkfilechooser.ini
/.config/marco/sessions/
/.config/mate/backgrounds.xml
/.config/mate-session/saved-session/
/.config/menus/mate-applications-merged
/.config/pluma/
/.config/pulse/
/.config/QtProject.conf
/.config/session-state/
/.config/VirtualBox/
/.dbus/
/Desktop
/.docker/.buildNodeID
/.docker/.token_seed
/.docker/.token_seed.lock
/Downloads
/.dotfiles
/.emacs.d/auto-save-list
/.emacs.d/.cache/
/.emacs.d/**/*.elc
/.emacs.d/**/*.eln
/.emacs.d/elpa/
/.emacs.d/history
/.emacs.d/.lsp-session*
/.emacs.d/tramp
/.emacs.d/transient/history.el
/.emacs.d/url/cache/
/.esd_auth
/.git-hidden
/.gnupg/private*
/.lesshst
/.lldb/*history
/.local/my/platform/**/installed/bin/my-bash_history-combiner
/.local/share/*
!/.local/share/my/
!/.local/share/rust-script
/.local/state/*
!/.local/state/my/
/.local/state/my/bash/interactive/history/combined
/.local/state/my/bash/interactive/history/by-time/
/Maildir
/Music
/.nix-defexpr/channels
/.nix-defexpr/channels_root
/.nix-profile
/Pictures
/.pki/
/.rustup/update-hashes
/.ssh/id_*
!/.ssh/id_*.pub
/.thumbnails
/tmp
/.vboxclient*.pid
/Videos
/.wget-hsts
/.Xauthority
/.xsession-errors*

# Things managed by home-manager
/.bash_profile
/.bashrc
/.config/dconf/
/.config/environment.d/10-home-manager.conf
/.config/gdb/my/home-manager-init
/.config/systemd/
/.config/user-tmpfiles.d/my-home-*-tmp-debug.conf
/.config/user-tmpfiles.d/my-home-*-tmp-src.conf
/.local/share/home-manager/
/.manpath
/.mozilla/
/.profile
