*~
*.kdbx
secring.gpg
/.*_history
/.bzr.log
/.cache/
/.cargo/bin
/.cargo/credentials
/.cargo/git
/.cargo/.global-cache
/.cargo/.package-cache*
/.cargo/registry
/.compose-cache/
/.config/atril/
/.config/caja/accels
/.config/caja/desktop-metadata
/.config/chromium/
/.config/docker/key.json
/.config/emacs/**/*.elc
!/.config/emacs/early-init.elc
!/.config/emacs/init.elc
/.config/Electron/
/.config/gtk-2.0/gtkfilechooser.ini
/.config/marco/sessions/
/.config/mate/backgrounds.xml
/.config/mate-session/saved-session/
/.config/menus/mate-applications-merged
/.config/pluma/
/.config/pulse/
/.config/QtProject.conf
/.config/session-state/
/.config/VirtualBox/
/.dbus/
/Desktop
/.docker/.buildNodeID
/.docker/.token_seed
/.docker/.token_seed.lock
/Downloads
/.dotfiles
/.esd_auth
/.git-hidden
/.gnupg/private*
/.lesshst
/.lldb/*history
/.local/my/platform/**/installed/*/*
/.local/share/*
!/.local/share/my/
/.local/share/my/emacs/elpa/*
!/.local/share/my/emacs/elpa/.dir-locals.el
!/.local/share/my/emacs/elpa/gnupg/
!/.local/share/my/keepass/template.kdbx
!/.local/share/rust-script
!/.local/share/user-tmpfiles.d/
/.local/state/*
!/.local/state/my/
/.local/state/my/bash/interactive/history/combined
/.local/state/my/bash/interactive/history/by-time/
/.local/state/my/emacs/
!/.local/state/nix/
/.local/state/nix/profiles/
/Maildir
/Music
/Pictures
/.pki/
/.radicle/*
!/.radicle/config.json
!/.radicle/cobs/
/.radicle/cobs/*.db
!/.radicle/keys/
/.radicle/keys/*
!/.radicle/keys/*.pub
/.rustup/update-hashes
/.ssh/id_*
!/.ssh/id_*.pub
/.thumbnails
/tmp
/.vagrant.d/*
!/.vagrant.d/boxes
!/.vagrant.d/data/
/.vagrant.d/data/*
!/.vagrant.d/data/machine-index/
/.vboxclient*.pid
/Videos
/.wget-hsts
/.Xauthority
/.xsession-errors*

# Things managed by home-manager
/.bash_profile
/.bashrc
/.config/chromium/NativeMessagingHosts/org.keepassxc.keepassxc_browser.json
/.config/dconf/
/.config/environment.d/10-home-manager.conf
/.config/gdb/my/platform/*/NixOS/init
/.config/systemd/
/.config/user-tmpfiles.d/home-manager.conf
/.config/user-tmpfiles.d/my-home-*-tmp-debug.conf
/.config/user-tmpfiles.d/my-home-*-tmp-src.conf
/.local/share/home-manager/
/.manpath
/.mozilla/
/.profile
